# More hooks: https://pre-commit.com/hooks.html

repos:
-   repo: https://github.com/psf/black
    rev: 19.3b0
    hooks:
    -   id: black
-   repo: https://github.com/myint/docformatter
    rev: v1.3.1
    hooks:
    -   id: docformatter
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-xml
    -   id: check-ast
    -   id: check-builtin-literals
    -   id: check-json
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending
-   repo: https://github.com/PyCQA/prospector
    rev: 1.2.0 # The version of Prospector to use, at least 1.1.7
    hooks:
    -   id: prospector
        language: python
        # To enable it to use other config instead of the default config.
        # args: ['--profile=.prospector.yml']
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
    -   id: remove-tabs
    -   id: forbid-tabs
