[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
colorama = "*"
future = "*"
junitparser = "*"
requests = "*"
Jinja2 = "*"
pytest = "==5.3.2"
pexpect = "*"
pytest-json-report = "*"

[packages]
colorama = "*"
future = "*"
junitparser = "*"
requests = "*"
Jinja2 = "*"
pytest = "==5.3.2"
pexpect = "*"
pytest-json-report = "*"

[requires]
python_version = "3.6"
