# Install lxml by apt-get as it requires some compilation and extra packages (python-dev, ...)
pytest==6.1.0
lxml

# pytest-plugin
pytest-json-report
pytest-timeout
pytest-cov

# For modules
colorama
pyserial
pexpect
ptyprocess
colorlog

# For html generation
future
jinja2
requests
junitparser
setuptools-scm